# ── Archivos generados por el compilador ──────────────────
outputs/output.ll
outputs/output_o3.ll
outputs/output.tac
outputs/*.exe
outputs/*.obj
outputs/linux_binary

# ── ANTLR: archivos generados automáticamente ─────────────
*.tokens
*.interp

# ── Python ────────────────────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.java

# ── Entornos virtuales ────────────────────────────────────
antlr_env/
venv/
env/
.env

# ── VSCode ────────────────────────────────────────────────
.vscode/

# ── llvmlite / compilación ────────────────────────────────
*.bc
*.s
*.o